.container {
    margin: 1rem;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-title {
    text-align: center;
}

.calculator-card {
    border: 1px solid #333;
    padding: 1.5rem;
    box-shadow: #333 5px 5px 1px;
}

.form {
    width: 100%;
}

.form-group {
    display: 0 0 auto;
    width: auto;
    margin: .5rem;
}

.form-group>.inline {
    display: flex;
    align-items: center;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

input~.checkmark:hover {
    background-color: #ccc;
    cursor: pointer;
}

input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked~.checkmark:after {
    display: block;
}

.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-group button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    margin: 10px 0;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color: #3e8e41;
}

.btn {
    width: 25%;
}